* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

header {
    width: 100vw;
    text-align: center;
    align-content: center;
}

.quadrado {
    width: 100px;
    height: 100px;
    box-shadow: 2px 2px 5px 2px#d0d0d0;
    background-color: #000;
    border-radius: 5px;
    transition: 0.1s;
    opacity: 0.9;
}

main {
    padding-top: 10px;
    justify-content: center;
    width: 430px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
    
}

.msg {
    height: 40px;
    align-content: center;
}